* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.clear {
  clear: both;
}

/* HEADER */

.header {
  padding: 10px 170px 20px;
}

.header ul {
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
}

.header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header li {
  display: inline;
  margin-right: 40px;
}

/* HEADER END */

.carousel {
  background-image: url(../images/2.jpg);
  height: 800px;
  background-size: cover;
  background-position: center top;
}

/* LOGO */

.logo {
  display: flex;
  padding: 5px 0;
}
.logo__icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  border-radius: 50%;
  background-color: #002146;
  position: relative;
  color: #fdc800;
  cursor: pointer;
}
.logo h2 {
  padding-top: 2px;
  padding-left: 10px;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
}

/* LOGO END */

/* WELCOME */

.welcome {
  /* border: solid red; */
  padding: 80px 0px;
}

.welcome__content {
  /* border: solid orange; */
  margin: auto;
  display: flex;
  width: 80%;
  padding: 10px;
}
.welcome__text {
  /* border: solid green; */
  width: 50%;
  padding: 20px;
  margin-right: 10px;
  font-family: "Oswald", sans-serif;
}

.welcome__text h2 {
  font-size: 35px;
}

.welcome__text p {
  font-size: 20px;
  line-height: 25px;
  color: rgb(133, 133, 133);
}

.welcome__text button {
  font-size: 20px;
  color: black;
  border: 1px solid #fdc800;
  border-radius: 5px;
  padding: 15px 35px;
  margin-top: 50px;
  background: #fdc800;
}

.welcome__photo {
  /* border: solid green; */
  width: 50%;
}

.welcome__photo img {
  border-radius: 5px;
  width: 100%;
}

/* WELCOME END */

/* STAT */

.stats {
  /* border: solid red; */
  background-color: #f6f6f6;
  padding: 50px 10px;
}

.stats__content {
  /* border: solid orange; */
  margin: auto;
  display: flex;
  width: 80%;
  padding: 10px;
}
.stats__numbers {
  /* border: solid green; */
  display: flex;
  width: 25%;
  padding: 15px;
}

.stats__number {
  /* border: solid purple; */
  padding: 15px 0px;
  margin-right: 10px;
}
.stats__number h2 {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}
.stats__text {
  /* border: solid purple; */
  padding: 20px 5px;
}
.stats__text p {
  font-size: 22px;
  font-family: "Oswald", sans-serif;
}

/* START END */

/* MAJORS */

.majors {
  /* border: solid red; */
  padding: 120px 0px;
}

.majors__content {
  /* border: solid orange; */
  padding: 10px;
  margin: auto;
  display: block;
  width: 80%;
}

.majors__row {
  /* border: solid green; */
  display: flex;
  width: 100%;
  padding: 15px 10px;
}
.majors__item {
  text-align: center;
  border: solid 002146;
  border-radius: 5px;
  color: white;
  background-color: #002146;
  width: 25%;
  padding: 20px 50px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;

  text-decoration: none;
}

/* MAJOR END */

/* EVENT */

.postsAndEvents {
  /* border: solid red; */
  background-color: #f6f6f6;

  padding: 50px 0;
}

.postsAndEvents__content {
  /* border: solid orange; */

  padding: 10px;
  margin: auto;
  display: flex;
  width: 80%;
}
.posts {
  /* border: solid green; */
  display: block;
  padding: 10px;
  width: 50%;
  font-family: "Oswald", sans-serif;
}

.posts h2 {
  font-size: 35px;
}

.post {
  background-color: #ffffff;
  /* border: solid yellow; */
  padding: 10px;
  display: flex;
}

.post__photo {
  /* border: solid purple; */
  width: 50%;
  padding: 10px;
}
.post__photo img {
  width: 100%;
  border-radius: 5px;
}

.post__text {
  /* border: solid purple; */
  padding: 10px;
}
.post__text h2 {
  font-size: 25px;
}

.post__text p {
  line-height: 25px;
  font-size: 20px;
}
.posts__viewAll {
  text-align: right;
}
.posts__viewAll button {
  font-size: 20px;
  color: black;
  border: 1px solid #fdc800;
  border-radius: 5px;
  padding: 15px 35px;
  margin-top: 50px;
  background: #fdc800;
}

.events {
  /* border: solid green; */
  display: block;
  padding: 10px;
  width: 50%;
  font-family: "Oswald", sans-serif;
}

.events h2 {
  font-size: 35px;
}

.event {
  background-color: #ffffff;
  /* border: solid yellow; */
  padding: 10px;
  display: flex;
}

.events__viewAll {
  text-align: right;
}

.events__viewAll button {
  font-size: 20px;
  color: black;
  border: 1px solid #fdc800;
  border-radius: 5px;
  padding: 15px 35px;
  margin-top: 50px;
  background: #fdc800;
}

.event__calendar {
  width: 30%;
  padding: 10px;
}

.card {
  width: 100%;
  text-align: center;
  padding: 0 15px;
}
.card__top {
  background-color: #fdc800;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.card__top p {
  font-size: 20px;
}
.card__bottom {
  background-color: #002146;
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  font-size: 20px;
  color: white;
}

.event__text {
  width: 70%;
  display: block;
  padding: 10px;
}

.event__text h2 {
  font-size: 25px;
}

.event__text p {
  line-height: 25px;
  font-size: 20px;
}

.event__dateTime {
  display: flex;
  width: 100%;
}
.vl {
  border-left: 2px solid rgb(163, 163, 163);
  height: 20px;
}

/* EVENTS END */

/* BUTTON HOVER */

.events__viewAll button:hover,
.posts__viewAll button:hover,
.welcome__text button:hover {
  background-color: #002146;
  border: 1px solid #002146;

  color: white;
}

/* FOOTER */

.footer {
  color: rgb(218, 218, 218);
  background-color: #002146;
  padding: 100px 30px 50px;
}

.footer__content {
  /* border: solid green; */
  width: 80%;
  margin: auto;
  padding: 10px;
}
.footer h3 {
  font-size: 25px;
  margin-bottom: 21px;
}
.footer p {
  font-size: 20px;
}

.footer a {
  font-size: 20px;
}

.footer__about {
  float: left;
  width: 33.33%;
  line-height: 28px;
  padding: 0 28px;
  /* border: solid orange; */
}

.footer__nav {
  float: left;
  width: 33.33%;
  /* border: solid orange; */
  padding-left: 30px;
}

.footer li {
  list-style: none;
  margin-bottom: 12px;
}

.footer a {
  text-decoration: none;
  color: rgb(218, 218, 218);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.footer__copyrights {
  text-align: left;
  padding-top: 30px;
}

.icon__color {
  color: #fdc800;
}
